.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.invalid {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1);
}

.input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
}
